<%- include('../../head') %>
<body>
  <%- include('../../header') %>
  <div class="container">
    <h1>Курсы</h1>
    <ul>
      <% courses.forEach((course)=> { %>
      <li class="d-flex justify-content-between">
        <div class="d-flex">
          <a class="p-1" href="/course/<%= course._id %>" ><%= course.name %></a> 
          <div class="p-1">Автор: <%= course.author.name %></div>
          <div class="p-1 text-secondary"><%= moment(course.createdAt).format('DD.MM.YYYY') %></div>
        </div>
        <% if (String(course.author._id)==String(user._id) )  {%>
          <div>
            <a href="/course/<%= course._id %>/edit" >Edit</a> 
            <a class="text-danger" href="/course/<%= course._id %>/delete" >Del</a> 
          </div>
        <% } else if(course.editors.includes(user._id)) { %>
          <div>
            <a href="/course/<%= course._id %>/edit" >Edit</a> 
          </div>
        <% }%>
      </h2>
      </li>
      <hr />
      <% }) %>
    </ul>
    <a href="/course/add">Добавить курс</a>
  </div>
  <%- include('../../footer') %>
</body>
